## Categorial , Dummy var. and One Hot encoding

In [ ]:
Two methods : for dummy var.                                                                                                
1. Using Pandas - get_dummies                                                                                            
2. Using sklearn - OneHotEncod

In [ ]:
Using -> homeprices2.csv ,    Build a predictor fun. to predict price of a home
    1. with 3400s.ft.  area in west windsor
    2. 2800sq.ft. home in robbinsville

In [ ]:
One thing is there:  ML models are good to handle numeric data.
    How to handle text data 
    -->use integer (or label) encoding : where we convert name of town to a specific integer , like(Monroe:1 , Robbinsville:2), 
                                         but 1 problem,it assume it as order of no. and make assumptions Robbinsville > Monroe  
      
    --> Categorical var. : 1.Nominal (where categories don't have any numeric ordering or any order relationship b/w them)
                           2.Ordinal (where categories have some short of numerical ordering b/w them)
                                      
    So,  here we are using 1 technique:  
                                    -->  One Hot Encoding

In [ ]:
One Hot Encoding : here we create a new column for each categories and assign binary value (1 or 0)
                   and extra var. created called Dummy var.

## ---------------------------------------------------------------------

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('homeprices2.csv')
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [5]:
dummies = pd.get_dummies(df.town)       # create dummy var. for each town columnwise
dummies                                 # pd.get_dummies(df.town, drop_first=True)  # drop_first - drops 1st column of dummy

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [6]:
# Now concatenate these dummies var. with original DF

merged = pd.concat([df,dummies], axis='columns')             # [takes df to concat] , axis= used to join like columnwise
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [ ]:
Now we drop -> town column , bcoz we have dummy var. , also its not going to work on LinearRegression model

2nd thing we are going to drop one of dummy var. column ,        (Google for more detail -> Dummy var.trap )

dummy var. trap means:                                                                                                         
whenever one var. can be derive from rest of var. these var. said to be multi co-linear and whenever you have multi co-linear 
in your dataset it creates the problem of dummy var. trap that can mess up your ML model. 
Hence Rule of thumb is : You have to drop one of the dummy var. column (pick any one of them).

In [8]:
# So, we are dropping 2 things from merged DF  : columns:  1.'town' column , 2.'west windsor' of dummy var.       

final = merged.drop(['town','west windsor'],axis='columns')           
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [ ]:
Remember that when you are using sklearn linearRegression model it will work even if you don't drop it , bcoz linearRegression 
model is aware about Dummy var. trap , it will drop automatically. In general its good practice you drop it own.

In [9]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()      # creating object of this class-LinearRegression()

In [10]:
# Now we train our dataset : x & y

x = final.drop('price', axis='columns')    # all columns are independent var. and assigned to x, except (price -dependent var. )
x

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [11]:
y = final.price                # y is price column of final DF       (or dependent var.) 
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [12]:
model.fit(x,y)        # fit - is training your ML model , when data is big save it to file and lad it to use

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [15]:
# Now predict

model.predict([[2800,0,1]])    # like we are predicting home in robbinsville so its parameter should be 1 and other city is 0

array([590775.63964739])

In [17]:
model.predict([[3400,0,0]])    # in west windsor , so both dummy var. apply 0

array([681241.66845839])

In [18]:
# If you want to know how accurate your model is , use:     score() method
# it will calulate predicted values for all of the rows in x, then it compare predicted value with actual values of y

model.score(x,y)          # gives 0.95  means: 95 % accuracy

0.9573929037221873

# Now using sklearn One Hot Encoder  -- essentially do the same thing

In [68]:
# 1st do the label encoding on town column

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()           # create LabelEncoder class object then use it on original DF

In [69]:
dfle = df                           # 1st create a new DF
dfle.town = le.fit_transform(dfle.town)  # fit and transform : take the column and convert to labels  and we assign back to df
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [70]:
# x-is training data set  , or independent var.

x = dfle[['town','area']].values        # values - used bcoz we want x to be 2D array not a df
x

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [71]:
# y -price   or dependent var.

y = dfle.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [72]:
# Now we create dummy var. column here

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(categorical_features=[0])   # create object of this class and it convert 0th element of X into categorical

In [73]:
x = ohe.fit_transform(x).toarray()         # convert x var into array
x

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [74]:
# Now drop 1st column

x = x[:,1:]      # 1st take all rows , 2nd take column from 1st onwards , it drop 0th column
x

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [75]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [76]:
model.predict([[1,0,2800]])    # in robinsville

array([590775.63964739])

In [77]:
model.predict([[0,1,3400]])   # in west windsor

array([681241.6684584])